.movie-card-loading {
    /* object-fit: contain; */
    flex: 0 0 calc(100% / var(--items-per-screen));
    width: calc(100% / var(--items-per-screen));
    height: 19em;
    /* margin-right: 10px; */
    width: 95%;
    transition: transform 100ms;
    cursor: pointer;
    /* background-color: gray; */

    background: rgb(12, 12, 12);
    background: linear-gradient(110deg, #303030 8%, #2e2e2e 18%, #313131 33%);
    /* border-radius: 5px; */
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

/* .movie-card-loading:hover {

} */

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}
